.container {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 15% 10% 30% 30%;
  }
  
  .square {
    width: 350px;
    height: 350px;
    border: 5px solid black;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  
  
  .circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 25px;
    left: 350px;
  }